[submodule "bundles/python-syntax"]
	path = bundles/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "bundles/nginx"]
	path = bundles/nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundles/airline"]
	path = bundles/airline
	url = https://github.com/bling/vim-airline
[submodule "bundles/neocomplete"]
	path = bundles/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundles/neocomplcache"]
	path = bundles/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundles/solarized"]
	path = bundles/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundles/tagbar"]
	path = bundles/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = https://github.com/scrooloose/syntastic.git
